<div class="main-nav">
  <div class="container">
    <header class="group top-nav">
				<nav class="navbar logo-w navbar-left" >
                    <%= link_to "myapp2", root_path, class: "logo" %>
				</nav>
				<div class="navigation-toggle" data-tools="navigation-toggle" data-target="#navbar-1">
				    <span class="logo">Saturn</span>
				</div>
			    <nav id="navbar-1" class="navbar item-nav navbar-right">
				    <ul>
				        <li><%= link_to "Home", root_path, class: "nav-link" %></li>
                        <li><%= link_to 'My Blog', controller: 'articles', class: 'nav-link' %></li>
                        <li><%= link_to "Help", help_path, class: "nav-link" %></li>                        

                        <% if logged_in? %>
                            <li><%= link_to "Users", users_path, class: "nav-link" %></li>                        
                            <li><%= link_to "Profile", current_user %></li>
                            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                            <li><%= link_to "Log out", logout_path, method: :delete %></li>                        
                        <% else %>
                            <li><%= link_to "Log in", login_path, class: "nav-link" %></li>
                        <% end %>
                                                
				    </ul>
				</nav>
			</header>
  </div>
</div>
